/* Default styles for larger screens */

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/* Global styles */
body {
    font-family: "Karla", sans-serif;
    color: #222;
    scroll-behavior: smooth;
}

/* Headings */
h1 {
    font-size: 50px;
    color: #222;
    
}

h2 {
    font-size: 36px;
    
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

img{
    height: auto;
    max-width: 100%;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    top:0;
    left: 0;
    z-index: 1000;
}

header img{
    width: 100%;
}

/* Navigation */
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

#navbar li {
    padding: 0 25px;
}

#navbar li a {
    text-decoration: none;
    font-weight: bold;
    color: #222;
    transition: 0.3s ease;
}

#navbar li a:hover {
    color: #088178;
}

/* Body Content */
#bodyContent {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 300px;
    width: 100%;
    background-color: white;
    line-height: normal;
    padding: 0 20px;
    
    
}

#bodyContent button {
    position: relative;
    margin-top: 10px;
    padding: 10px;
    width: 100px;
    background-image: linear-gradient(to right, #CE23B9, #2554DA);
    cursor: pointer;
    border-radius: 5px;
    border: 0;
}

#bodyContent button:hover {
    animation: shake 1s ease infinite;
}


#bodyContent button a {
    text-decoration: none;
    color: white;
}

/* main section */
main{
    width: 100%;
    height: 100%;
    background-color: #bdb7ec;
    overflow: hidden;

    
}

/* Feature Section */
#feature {
    display: flex;
    align-items: center;
    align-content: center;
    height: 500px;
    justify-content: space-evenly;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.218);
}

#feature .fe-box {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 280px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.74);
    border: 2px solid #cce7d0;
    border-radius: 10px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.06);
}

#feature .fe-box:hover {
    border-color: #088178;
    transform: scale(1.03);
}

#feature .fe-box h4 {
    display: flex;
    align-items: center;
    padding: 9px 8px 6px 8px;
    margin-bottom: 4px;
    line-height: 1;
    border-radius: 4px;
    background-color: #e7cbe3;
    min-height: 50px;
    text-align: center;
    pointer-events: none;
    
}

#feature .fe-box:nth-child(2) h4 {
    background-color: #cbe7d0;
}

#feature .fe-box:nth-child(3) h4 {
    background-color: #e7d2cb;
}

#feature .fe-box:nth-child(4) h4 {
    background-color: #8ab6fc;
}



/* Product Section */
#product {
    display: flex;
    background-color: #ecb7d8;
    flex-direction: column; 
}

#product .product-text{
    position: relative;
    margin-top: 50px;
    text-align: center;
    pointer-events: none;
    animation: moveText 3s ease infinite;
    
}

#product .pr-boxes{
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}

#product .pr-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height:400px;
    width: 300px;
    margin-top: 90px;
    margin-bottom: 90px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 40px 10px  rgba(0, 0, 0, 0.10); 
}

#product .pr-box img {
    width: 75%;
    box-shadow: 0px 0px 30px 20px inset rgba(36, 25, 3, 0.159);
    border-radius: 100px;
}

#product .checked {
    color: orange;
  }

#product .pr-box h6 {
    width: 100%;
    margin: 10px;
    color: rgb(0, 0, 0);
    font-size: medium;
    font-weight: bolder;
    pointer-events: none;
    
}

#product .pr-box .pr-cart {
    margin: 15px auto;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-weight: 500;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #cbe7d0;
    border: 1px solid #cbe7d0;
    right: 0;
}

#product .pr-box .pr-cart i {
    color: #088178;
}

/* Footer */
footer{
    min-height: fit-content;
}
footer li {
    display: block;
    list-style: none;
    float: right;
    
}
/* Animations */
@keyframes moveText {
    0% {
      top: 0;
      opacity: 1;
      text-shadow: none;
    }
    25% {
      top: 25px;
      opacity: 0.75;
      text-shadow: -2px -2px 3px rgba(0, 0, 0, 0.3); /* Add a shadow effect */
    }
    50% {
      top: 50px;
      opacity: 1;
      text-shadow: none; 
    } 
    75% {
      top: 25px;
      opacity: 0.75;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); /* Add a shadow effect */
    }
    100% {
      top: 0;
      opacity: 1;
      text-shadow: none;
    }
  }

@keyframes shake {
    0%, 100% {
        transform: scale(1);
      }
      5%, 10%, 15%, 20%, 25% {
        transform:  scale(1.1);
      }
      30%, 35%, 40%, 45%, 50% {
        transform: scale(1.1);
      }
      55%, 60%, 65%, 70%, 75% {
        transform:  scale(1.1);
      }
      80%, 85%, 90%, 95% {
        transform: scale(1.0);
      }
    }



/* Styles for medium-sized screens */
@media screen and (max-width: 768px) {
    /* Adjustments for medium-sized screens */
    header {
        padding: 10px 20px;
        transition: ease all .5s;
        
    }
    header #navbar{
        font-size: 16px;
        transition: ease all .5s;
    }
    header img{
        width: 70%;
        transition: ease all .5s;
    }
    #bodyContent h1{
        font-size: 40px;
        transition: ease all .5s;
    }
    #bodyContent h2{
        font-size: 26px;
        transition: ease all .5s;
    }
    #bodyContent h4{
        font-size: 20px;
        transition: ease all .5s;
    }
   
   
    #navbar {
        align-items: center;
        transition: ease all .5s;
    }
    #navbar li {
        padding: 10px ;
        transition: ease all .5s;
    }
    
    
    #feature {
        width: 100%;
        flex-wrap: wrap;
        transition: ease all .5s;
    }
    
    #feature .fe-box{
        width: 125px;
        
    }

    #feature .fe-box  h4{
        font-size: 15px;
    }

    #product .product-text h1{
        font-size: 30px;
        transition: ease all .5s;
    }
    
    #product .pr-box{
        width: 200px;
        height: 300px;
        transition: ease all .5s;
    }

    #product .pr-box .product-text{
        font-size: 10px;
        transition: ease all .5s;

    }
    #product .fe-box img{
        width: 50%;
        transition: ease all .5s;
    }
}

